<div class="section no-pad-bot" id="index-banner" ng-controller="mainCtrl">
  <div class="container">
    <br><br>
    <h1 class="header center white-text">Your Purrfect Vacation is Here</h1>
    <div class="row center">
      <br><br>
      <br><br>
      <!-- animation starts -->
      <div class="cat-container">
        <div class="plane">
          <div class="p-body">
            <div class="p-parts">
              <div class="part-one">
                <span class="po-up"></span>
                <span class="po-middle"></span>
                <span class="po-down"></span>
              </div>
              <div class="part-two">
                <span class="pt-wing"></span>
              </div>
              <div class="part-three">
                <span class="roll"></span>
              </div>
              <div class="helix">
                <span class="h-base"></span>
                <span class="h-rotor"></span>
              </div>
            </div>
            <div class="cat">
              <span class="eyes left"></span>
              <span class="eyes right"></span>
              <span class="mouth"></span>
            </div>
          </div>

          <div class="p-message">
            <div class="rope"></div>
            <ul>
              <li>Your Way</li>
              <li class="middle">World</li>
              <li>See the</li>
            </ul>
          </div>
        </div>

      </div>
      <!-- animation ends -->
    </div>
    <br><br>
  </div>
</div>

<br><br>
<div class="container" ng-hide="activityShow">
<div class="collection" ng-repeat="item in destinations track by $index">

<a href="#!" class="collection-item">{{item.destination}}<span class="new badge" ng-click="getActivities(this)">View</span></a>
</div>
</div>

<div class="container" ng-show="activityShow">

<div class="row">
  <div class="col s12 m12">
    <div class="card white darken-1">
      <div class="card-content red-text">
        <span class="card-title">{{activ.destination}}</span>
        <p>Activity: {{activ.activity}}</p>
        <br>
        <p>Detail: {{activ.detail}}</p>
        <br>
        <h3><p ng-show="revNote">{{activ.note}}</p> </h3>
      </div>
      <div class="card-action">
        <a ng-click="revealNote(activ)">NOTE</a>
        <a ng-click="nextNote(activ)">NEXT</a>
        <a ng-click="returnToHome()">HOME</a>
      </div>
    </div>
  </div>
</div>
</div>
